{% load staticfiles %}

<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/profile/profile.js" %}"></script>
    <script src="{% static "js/employer/intro.js" %}"></script>

	<script src="{% static "js/profile/modernizr.js" %}"></script>
	<script src="{% static "js/profile/city.js" %}"></script>

	<script src="{% static "js/profile/progress.js" %}"></script>
	<script src="{% static "js/listbox.js" %}"></script>
	<script src="{% static "js/jquery.notify.js" %}"></script>

	<script src="{% static "js/typeahead.bundle.min.js" %}"></script>
	<script src="{% static "js/mab-jquery-taginput.js" %}"></script>
	<script src="{% static "js/materialize-tags.js" %}"></script>
	<script src="{% static "js/jquery.prettydropdowns.js" %}"></script>
	<script src="{% static "js/jquery.prettydropdowns.js" %}"></script>
	<script src="{% static "js/jquery.tag-editor.js" %}"></script>
	<script src="{% static "js/jquery.caret.min.js" %}"></script>
	<script src="{% static "js/jquery-ui.js" %}"></script>
	<script src="{% static "js/jquery-asProgress.js" %}"></script>

	<script src="{% static "js/ajaxForm.js" %}"></script>

	<script src="{% static "js/SimpleAjaxUploader.js" %}"></script>