{% load staticfiles %}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=500, initial-scale=1 user-scalable=yes">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>
 
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/profile.css" %}" rel="stylesheet">
    <link href="{% static "css/progressbar/style.css" %}" rel="stylesheet">
    <link href="{% static "css/progressbar/reset.css" %}" rel="stylesheet">
    <link href="{% static "css/listbox.css" %}" rel="stylesheet">

    <link href="{% static "css/mab-jquery-taginput.css" %}" rel="stylesheet">
    <link href="{% static "css/materialize-tags.min.css" %}" rel="stylesheet">
    <link href="{% static "css/prettydropdowns.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery.tag-editor.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui.css" %}" rel="stylesheet">
    <link href="{% static "css/employer/signup.css" %}" rel="stylesheet">
    <link href="{% static "css/employer/dropzone.css" %}" rel="stylesheet">
    <link href="{% static "css/employer/introjs.css" %}" rel="stylesheet">
    <link href="{% static "css/asProgress.css" %}" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Avenir:400,700" rel="stylesheet" type="text/css">
    <!-- <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

    <meta name="description" content="A lightweight and sophisticated tag editor for jQuery. Sortable, editable tags with cursor navigation, autocomplete, and callbacks.">