{% load staticfiles %}
	<div class = "progress-div" id = "progress-div">
		<div class = "progress-heading">
			<div class = "progress-label left-text" id = "progress_head_profile">1.Profile</div>
			<div class = "progress-label center-text" ><span id = "progress_head_order">2.Order </span>
				<p hidden id = "order_tip" class="bubble text-small" style = "margin-top:40px;margin-left:55px;text-align:center;padding-top:5px;"><span style = "width:100%;height:100%;margin-left:-15px" class = "text-center text-light" style="font-weight:0">Create at least<br>2 orders</span>
				<span onclick = "$('#order_tip').hide();" class = "text-center text-light order_btn_close" style="font-weight:0">x</span></p>
			</div>
			

			<div class = "progress-label right-text" id = "progress_head_payment">3.Payment</div>
		</div>
	    <div class  = "progress-blank">
		    <div class = "progress-oval"></div>
		    <div class = "progress-inprogress half-width" id = "progress_progress" hidden></div>
		    <div class = "progress-oval middle-pos" id = "progress_oval_order" hidden></div>
		    <div class = "progress-oval full-pos" id = "progress_oval_payment" hidden></div>
	    </div>
	</div>

<div class = "container" style = "width:100%;height:100%;">
    <div class = "row" id = "content" style ="height:100%">
        {%include page%}
    </div>
</div>