{% load staticfiles %}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img class = "footer-brand" src = "{% static "img/footer-recruiter.png" %}"/>
                </div>
                <div class="col-md-3">
                    <h3 class = "footer-headertag">FOR EMPLOYER</h3>
                    <ul>
                        <li>
                            <a href="#" >About</a>
                        </li>
                        <li>
                            <a href="#" >How it works</a>
                        </li>
                        <li>
                            <a href="#" >Product</a>
                        </li>
                        <li>
                            <a href="#" >Pricing</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class = "footer-headertag">FOR RECRUITERS</h3>
                    <ul>
                        <li>
                            <a href="#" >About</a>
                        </li>
                        <li>
                            <a href="#" >How it works</a>
                        </li>
                        <li>
                            <a href="#" >Product</a>
                        </li>
                        <li>
                            <a href="#" >Pricing</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class = "footer-headertag">RESOURCES</h3>
                    <ul>
                        <li>
                            <a href="#" >Contact</a>
                        </li>
                        <li>
                            <a href="#" >Privacy & terms</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class = "container footer-bottom">
        </div>
    </footer>
